svg {
    margin: 10px;
}

rect {
    fill: mediumaquamarine;
}

#xaxis text{
  font-size: 10pt;
}

/* path: axis line, line: tick marks */

#xaxis line {
  fill: none;
  stroke: none;
}

#xaxis path{
  fill: none;

  /* use stroke, not border, for svg elements */
  stroke: #bbbbbb;
  stroke-width: 1px;
}

body {
    background-color: midnightblue;
}

text {
    fill: white;
}

.sentence {
    width: 375px;
    padding: 5px;
}

.inputRow {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: left;
}

.submit {
    background: #e85d7f;
    border: none;
    height: 41px;
    color: #fff;
    margin-left: 10px;
}

.submit:hover, .submit:active {
    background-color: #544f7b;
}

#full-container {
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}